/*-----------
Embeded Fonts
-----------*/
@font-face {
	src: url("assets/embedded/fonts/myriadprobold.swf");
	fontWeight: "bold";
	fontFamily: "Myriad Pro";
}
@font-face {
	src: url("assets/embedded/fonts/myriadproreg.swf");
	fontFamily: "Myriad Pro";
}
@font-face {
	src: url("assets/embedded/fonts/myriadproitalic.swf");
	fontStyle: "italic";
	fontFamily: "Myriad Pro";
}

.global
{
    highlightAlphas:        .5, .25;
    borderColor:            #939A9D;
    headerColors:           #456F84, #9ABBC9;
    themeColor:             #75B1CE;
    rollOverColor:          #D6E6EE;
    selectionColor:         #B8D5E4;
}

Application
{
	fontFamily: "Myriad Pro";
	backgroundGradientColors: #3E4B8B, #252D52;
	horizontalAlign:"center";
	layout:"vertical";
	verticalAlign:"top";
}

TextArea {
	backgroundColor: transparent;
	borderThickness: 0px;
	focusThickness: 0px;
}

Tile {
	paddingTop: 4;
	paddingBottom: 0;
	paddingLeft: 4;
	paddingRight: 0;
	horizontalGap: 4;
	verticalGap: 0;
}

List {
	color: #666666;
}

Button {
	paddingTop: 10;
	paddingBottom: 10;	
}

ProgressBar {
	color: #FFFFFF;
}

.error
{
    fontWeight:         "bold";
    fontSize:           11;
	color:				#990000;
}

.border
{
	horizontalAlign:"center";
	borderColor:#000000;	
	borderStyle:"solid";
	borderThickness:1;
}
.borderThumb
{
	verticalAlign:"center";
	horizontalAlign:"center";
	borderColor:#666666;	
	borderStyle:"solid";
	borderThickness:1;
	dropShadowEnabled: "true";
	backgroundColor: #ffffff;
	dropShadowColor: #666666;
	shadowDirection: "center";
	shadowDistance: 1;
	paddingTop: 4;
	paddingLeft: 4;
	paddingRight: 4;
	paddingBottom: 4;
}
.rightColumnComponent {
	paddingLeft: 4;
	paddingRight: 12;
}	
.loadingLabel {
	fontFamily: "Myriad Pro";
	fontSize: 12;
	fontWeight: bold;
	color: #FFFFFF;
	fontGridFitType: "subpixel";
	leading: 0;
	letter-spacing: .5;
}
.projectListItemName {
	fontFamily: "Myriad Pro";
	fontSize: 12;
	fontWeight: bold;
	color: #000000;
	fontGridFitType: "subpixel";
	leading: 0;
	letter-spacing: .5;
}
.projectPanelName {
	fontFamily: "Myriad Pro";
	fontSize: 17;
	color: #000000;
	fontWeight: bold;
}
.projectPanelDescription {
	fontFamily: "Myriad Pro";
	fontSize: 10;
	fontGridFitType: "subpixel";
	leading: 8;
	letter-spacing: .2;
	color: #111111;
}

